body {
    padding-top: 10%;
}
.panel-login {
	border-color: #80ffff;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	
}
.panel-login>.panel-heading {
	
	background-color: #80ffff;
	border-color: #fff;
	text-align:center;
}

.panel-body{
	border-color: #80ffff;
	
	width: 300px; 
    height: 190px;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}

#usuario{
	
                width: 300px; 
                height: 30px; 
                left: 60%; 
                margin: 10px 0 0 -200px; 
                padding:10px;
                position: absolute; 
                top: 20%;
}
#password{
	
                width: 300px; 
                height: 30px; 
                left: 60%; 
                margin: 20px 0 0 -200px; 
                padding:10px;
                position: absolute; 
                top: 40%;
}

#btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #0000ff;
	font-size: 10px;
	height: auto;
	font-weight: normal;
	width: 180px; 
    height: 40px; 
	text-transform: uppercase;
	border-color: #59B2E6;
	left: 55%; 
    margin: 120px 0 0 -120px; 
    position: absolute; 
    top: 20%;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
