<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a4j="http://richfaces.org/a4j">

<h:head>
	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="bootstrap-responsive.min.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="matrix-media.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="matrix-style.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="components.css" ></h:outputStylesheet>
		<h:outputStylesheet library="css" name="components.css" ></h:outputStylesheet>
		<h:outputStylesheet library="css" name="reset.css" ></h:outputStylesheet>
		<h:outputStylesheet library="css" name="style.css" ></h:outputStylesheet>
		<h:outputStylesheet library="css" name="loguin.css" ></h:outputStylesheet>
		
		<!-- ****** favicons do faviconit.com ****** -->
	<link rel="shortcut icon" 												href="#{resource['images/favicon/favicon.ico']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="16x16 32x32 64x64" href="#{resource['images/favicon/favicon.ico']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="196x196" 			href="#{resource['images/favicon/favicon-192.png']}" />
	<link rel="shortcut icon" type="image/x-icon" sizes="160x160" 			href="#{resource['images/favicon/favicon-160.png']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="96x96" 			href="#{resource['images/favicon/favicon-96.png']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="64x64" 			href="#{resource['images/favicon/favicon-64.png']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="32x32" 			href="#{resource['images/favicon/favicon-32.png']}"/>
	<link rel="shortcut icon" type="image/x-icon" sizes="16x16" 			href="#{resource['images/favicon/favicon-16.png']}"/>
	<link rel="apple-touch-icon" 											href="#{resource['images/favicon/favicon-57.png']}"/>
	<link rel="apple-touch-icon" sizes="114x114"							href="#{resource['images/favicon/favicon-114.png']}"/>
	<link rel="apple-touch-icon" sizes="72x72" 								href="#{resource['images/favicon/favicon-72.png']}"/>
	<link rel="apple-touch-icon" sizes="144x144" 							href="#{resource['images/favicon/favicon-144.png']}"/>
	<link rel="apple-touch-icon" sizes="60x60" 								href="#{resource['images/favicon/favicon-60.png']}"/>
	<link rel="apple-touch-icon" sizes="120x120" 							href="#{resource['images/favicon/favicon-120.png']}"/>
	<link rel="apple-touch-icon" sizes="76x76" 								href="#{resource['images/favicon/favicon-76.png']}"/>
	<link rel="apple-touch-icon" sizes="152x152" 							href="#{resource['images/favicon/favicon-152.png']}"/>
	<link rel="apple-touch-icon" sizes="180x180" 							href="#{resource['images/favicon/favicon-180.png']}"/>
	<meta name="msapplication-TileColor" content="#FFFFFF"/>
	<meta name="msapplication-TileImage" content="/favicon-144.png"/>
	<meta name="msapplication-config" content="/browserconfig.xml"/>
	<!-- ****** favicons do faviconit.com ****** -->
	</f:facet>

	<title>PortalOs - IMG AGÊNCIA</title>
	
	
	
	<h:outputScript target="body" library="primefaces" name="jquery/jquery.js" />
	<h:outputScript target="body" library="js" name="bootstrap.js" />
	<h:outputScript target="body" library="js" name="bootstrap.min.js" />
	<h:outputScript target="body" library="js" name="matrix.js" />
	<h:outputScript target="body" library="js" name="index.js" />
	<h:outputScript target="body" library="js" name="loguin.js" />
</h:head>

<h:body>

	<header>
		
	</header>

	<aside>
		
	</aside>

	<section>
		<ui:insert name="content2" />
	</section>

</h:body>
</html>