<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="fa  fa-fw  fa-list-ul"></i> Menu</a>
		<ul style="display: block;">
			<li class=""><h:link outcome="MenuPrincipal.xhtml"><i class="fa  fa-fw  fa-home"></i><span>Menu Principal</span></h:link></li>
			<li class=""><h:link outcome="Cliente.xhtml"><i class="fa  fa-fw  fa-user"></i><span>Cliente</span></h:link></li>
			<li class=""><h:link outcome="Funcionario.xhtml"><i class="fa  fa-fw  fa-user-plus"></i><span>Funcionário</span></h:link></li>
			<li class=""><h:link outcome="Orcamentos.xhtml"><i class="fa  fa-fw  fa-calculator"></i><span>Orçamento</span></h:link></li>
			<li class=""><h:link outcome="OrdemServico.xhtml"><i class="fa  fa-fw  fa-file-text-o"></i><span>Ordem de Serviço</span></h:link></li>
			<li class=""><h:link outcome="Pedido.xhtml"><i class="fa  fa-fw  fa-shopping-cart"></i><span>Pedido</span></h:link></li>
			<li class=""><h:link outcome="Produto.xhtml"><i class="fa  fa-fw  fa-briefcase"></i><span>Produto</span></h:link></li>
			
			<li class="submenu"><h:link><i class="fa  fa-fw  fa-usd"></i><span>Financeiro</span> <span class="label"><i class="icon-chevron-down"></i></span></h:link>
				<ul>
					<li class=""><h:link outcome="Lancamento.xhtml"><i class="fa  fa-fw  fa-home"></i><span> Lançamentos</span></h:link></li>
				</ul>
			</li>
			
			<li class="submenu"><h:link><i class="fa  fa-fw  fa-files-o"></i><span>Relatórios</span> <span class="label"><i class="icon-chevron-down"></i></span></h:link>
				<ul>
					<li class=""><h:link outcome="RelFinanceiro.xhtml"><i class="fa  fa-fw  fa-usd"></i><span> Financeiro</span></h:link></li>
					<li class=""><h:link outcome="RelOrcamentos.xhtml"><i class="fa  fa-fw  fa-calculator"></i><span> Orçamentos</span></h:link></li>
					<li class=""><h:link outcome="RelOrdemServico.xhtml"><i class="fa  fa-fw  fa-file-text-o"></i><span> Ordens de Serviço</span></h:link></li>
					<li class=""><h:link outcome="RelVendas.xhtml"><i class="fa  fa-fw  fa-gavel"></i><span> Vendas</span></h:link></li>
				</ul>
			</li>
			
			<li class="submenu"><h:link><i class="fa  fa-fw  fa-gears"></i><span> Configurações</span> <span class="label"><i class="icon-chevron-down"></i></span></h:link>
				<ul>
					<li class=""><h:link outcome="ConfiguracaoGeral.xhtml"><i class="fa  fa-fw  fa-cog"></i><span> Configuração Geral</span></h:link></li>
					<li class=""><h:link outcome="PerfilAcesso.xhtml"><i class="fa  fa-fw  fa-wrench"></i><span> Perfil de Acesso</span></h:link></li>
					<li class=""><h:link outcome="Usuario.xhtml"><i class="fa  fa-fw  fa-unlock-alt"></i><span> Usuário</span></h:link></li>
				</ul>
			</li>
			
		</ul>
	</div>
</ui:composition>