<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout2.xhtml">
	
	<ui:define name="content2">
        <div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							
						</div>
					
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form"  method="post" role="form" style="display: center;">
									<div class="form-group">
										<p:inputText type="text"  id="usuario" tabindex="1" class="form-control" placeholder="Username" value="#{MBLoguin.usuario}" />
									</div>
									<div class="form-group">
										<p:inputText type="password"  id="password" tabindex="2" class="form-control" placeholder="Password" value="#{MBLoguin.senha}"/>
									</div>
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<p:commandButton value="Logar" id="btn-login" actionListener="#{MBLoguin.Logar}"/></div>
										</div>
									</div>
									
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  
	</ui:define>
	
</ui:composition>